# Environment variables & Secrets
.env

# Python Virtual Environment
myenv/
__pycache__/
*.pyc

# SQLite Database files (Local chat history)
*.db
*.sqlite
*.sqlite3

# Streamlit cache and local configs
.streamlit/